.overview {
  font-size: 16px;
  font-family: Inter;
  padding: 22px 22px 3px;
  color: gray;
}

.icon-data {
  cursor: pointer;
}

.salary-range {
  display: flex;
  gap: 12px;
}

.salary-range input {
  flex: 1;
}

#arrowrightline {
  margin-left: 84%;
  display: flex;
  align-items: center;
  font-size: 17px;
  gap: 10px;
  font-family: Quicksand;
  color: rgb(141, 140, 140);
  cursor: pointer;
}

#arrowrightline:hover {
  color: black;
}

.form-group textarea {
  height: 110px;
}

/* Applicant page */

.applicants-page {
  padding: 2px;
  font-family: Quicksand;
}

.no-applicants-box {
  background: #fff;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.applicants-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* CARD */
.applicant-card {
  position: relative;
  background: #fff;
  border-radius: 14px;
  padding: 20px 24px 20px 24px; /* 👈 IMPORTANT: extra top space */
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* TEXT */
.applicant-card h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.applicant-card p {
  margin: 0;
  color: #444;
  line-height: 1.5;
  font-size: 16px;
}

/* BUTTON */
.download-resume-btn {
  display: inline-block;
  margin-top: 14px;
  padding: 10px 16px;
  background: #111827;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  width: fit-content;
}

.status__control {
  border-radius: 20px !important;
  border: 1px solid #ccc !important;
  min-height: 38px !important;
  box-shadow: none !important;
  cursor: pointer !important;
  background: #fff !important;
  padding: 0 8px !important;
}

.status__single-value,
.status__placeholder {
  font-size: 15px !important;
  font-weight: 600 !important;
}
.status__indicator-separator,
.status__dropdown-indicator {
  display: none !important;
}
.status__menu {
  margin-top: 6px !important;
  border-radius: 12px !important;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1) !important;
  font-size: 15px;
}
.status__option:nth-child(1) {
  background: #fef3c7 !important;
  color: #b45309 !important;
}

.status__option:nth-child(2) {
  background: #dcfce7 !important;
  color: #15803d !important;
}

.status__option:nth-child(3) {
  background: #fee2e2 !important;
  color: #b91c1c !important;
}
@media (max-width: 768px) {
  .applicant-card {
    padding: 20px;
  }

  .status-select {
    position: static;
    width: 140px;
    margin-bottom: 10px;
  }
}
