/* GLOBAL STYLE */

body{
  font-family: 'Poppins', sans-serif;

  margin:0;
}

/* WRAPPER */

.job-wrapper{
  margin-top:20px;
}

.empty-card{
  text-align:center;
  padding:40px;
}

/* GRID */

.job-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(380px,1fr));
  gap:28px;
  margin-top:20px;
}

/* JOB CARD */

.job-card{
  background:#ffffff;
  border-radius:18px;
  padding:26px;
  border:1px solid #eef1f6;
  transition:all 0.25s ease;
}

.job-card:hover{
  transform:translateY(-6px);
  box-shadow:0 12px 32px rgba(0,0,0,0.08);
}

/* TOP SECTION */

.job-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  margin-bottom:20px;
}

.job-company-block{
  display:flex;
  align-items:center;
  gap:14px;
}

/* COMPANY ICON */
.job-logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-logo-circle span{
  font-size:18px;
  font-weight:700;
  color:#4338ca;
}

/* COMPANY NAME */

.job-company-name{
  margin:0;
  font-size:16px;
  font-weight:600;
  color:#111827;
  letter-spacing:0.5px;
  text-transform: uppercase;
}

/* LOCATION */

.job-location{
  margin-top:6px;
  display:flex;
  align-items:center;
  gap:6px;
  font-size:14px;
  color:#6b7280;
}

/* BOOKMARK */

.bookmark-circle{
  width:40px;
  height:40px;
  border-radius:50%;
  border:1px solid #e5e7eb;
  display:flex;
  align-items:center;
  justify-content:center;
  background:white;
  cursor:pointer;
  transition:0.2s ease;
}

.bookmark-circle:hover{
  background:#f3f4f6;
}

/* JOB TITLE */

.job-title{
  font-size:21px;
  font-weight:600;
  color:#0f172a;
  margin-bottom:16px;
}

/* TAGS */

.job-tags{
  display:flex;
  gap:10px;
  margin-bottom:24px;
}

.job-tag{
  background:#f3f4f6;
  padding:6px 12px;
  border-radius:8px;
  font-size:13px;
  font-weight:500;
  color:#374151;
}

/* BOTTOM SECTION */

.job-card-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:12px;
}

/* SALARY */

.job-salary{
  font-size:17px;
  font-weight:400;
  font-family: Inter;
  color:#111827;
}

.job-salary span{
  font-size:14px;
  color:#6b7280;
  font-family: Inter;
  font-weight:500;
}

/* BUTTON */

.job-btn{
  border:none;
  padding:10px 18px;
  border-radius:10px;
  background:#00abdf;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.2s ease;
}

.job-btn:hover{
  background:#0487af;
}

/* RESPONSIVE */

@media (max-width:600px){

.job-title{
font-size:20px;
}

.job-salary{
font-size:18px;
}

.job-btn{
padding:8px 14px;
font-size:14px;
}

}